@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{

    List<DicsModel> Customers = new List<DicsModel>()
    {
        new DicsModel(){ Id = 3,Value="Raj"},
        new DicsModel(){Id = 6,Value= "sdfsfd"},
        new DicsModel(){ Id=332, Value="f"},
        new DicsModel(){Id= 33,Value= "sdfdg" },
        new DicsModel(){Id=32, Value="sdf"},
    };
    
}
<Dropdown dropdownList="Customers" Label="Raj" Size="a2"></Dropdown>
