<div class="did-floating-label-content">
    <select class="did-floating-select"  onclick="this.setAttribute('value', this.value);" onchange="this.setAttribute('value', this.value);" value="">
        <option value=""></option>
        @foreach (var item in dropdownList)
        {
            
            <option value="@item.Id">@item.Value</option>
        }
    </select>
    <label class="did-floating-label">@Label</label>
</div>

@code {
    [Parameter]
    public List<DicsModel> dropdownList { get; set; }
    [Parameter]
    public string Size { get; set; }
    [Parameter] [EditorRequired]
    public string Label { get; set; }
    
}
