<div class="did-floating-label-content">
    <input class="did-floating-input" @bind="InputValue" @bind:event="oninput" type="text" placeholder=" ">
    <label class="did-floating-label">@Label</label>
</div>
<p>@InputValue</p>
@code {
    [Parameter]
    public string Label { get; set; }
    public string InputValue { get; set; }
}
